body
{
    text-align: center;
    font-size: 20px;
}
.green
{
    color: green;
    font-size: 40px;
}
.format
{
    height: 400px;
    width: 400px;
}
#link
{
    font-size: 40px;
    color: green;
    margin: 50px;
}
#icon
{
    height: 40px;
    width: 40px;
}
.sub
{
    font-size: 30px;
    color: green;
    margin: 30px;
}
#sub
{
    margin: 30px;
}
#images
{
    height: 800px;
}
